<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link reL="stylesheet" href="style.css">
    <title>To Do List</title>
</head>
<body>
    <h1><%= typeof user_text !== 'undefined' ? `Bem vindo ${user_text}!` : 'Bem vindo' %></h1>
    <form action="/" method="POST">
        
        <input type="text" name="descricao_da_tarefa">
        <input type="checkbox" name="isCheck" value=boolean>
        <input type="submit" value="Adicionar tarefa">

      </form>
    <script src="script.js"></script> 
</body>
</html>