<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link reL="stylesheet" href="style.css">
    <title>To Do List</title>
</head>
<body>
    <header>
        <h1>Bem vindo! </h1>
        <form action="/create" method="POST"> 
            <input type="text" name="descricao_da_tarefa" id="task" placeholder="Insira uma tarefa">
            <button id="addButton" type="submit">Adicionar</button>
        </form>
    </header>

    <section id="tasks">
        <ul>
            <%  for(let i = 0; i<tasksList.length; i++) { %>
                <li> 
                    <%= tasksList[i].descricao %> 
                    <input type="checkbox" name="isCheck" value=boolean <% if(tasksList[i].marcado) { %> checked <% } %> >
                    <a href="">Editar</a>
                    <a href="">Apagar</a>
                </li>
            <% } %>
        </ul>
    </section>
  
    <script src="script.js"></script> 
</body>
</html>