/* body * {
    border: 1px solid red;
} */


button#addButton {
    font-family: techFont; 
    background-color: black; 
    color: white; 
    padding: 10px 22px 10px 22px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: all 0.3s ease; 
}
button#addButton:hover {
    background-color: #474949; 
}
button#addButton:active {
    background-color: #333333;
    transform: translateY(3px); 
}
@font-face {
    font-family: techFont;
    src: url(../fonts/VCR_OSD_MONO_1.001.ttf);
}
:root {
    --header-height: 3.5em;
    --footer-height: 3em;
    --margin-distance-left: 60px;
}
.verticalLine{
    height: 100vh;
    width: 1px;
    background-color: red;
    position: fixed;
    left: var(--margin-distance-left);
    z-index: 99;
}
.verticalLine::after{
    content: "";
    height: 100vh;
    width: 1px;
    background-color: red;
    position: fixed;
    left: 50px;
}
.container { /* aqui a gnt controla o H1, lista de tasks, e input*/
    padding-left: calc(var(--margin-distance-left) + 10px);
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}
.tasksList{
    padding-top: var(--header-height);
    padding-bottom: var(--footer-height);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tasksList-row{
    margin-top: 8px;
    padding: 0px 10px 0px 10px;
    width: 70%;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputSection{
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    height: var(--footer-height);
    position: fixed;
    bottom: 0;
    /* border-top: 1px solid black; */
}
.inputSection .horizontalLine{
    position: relative;
} 
.inputSection .horizontalLine::after{
    bottom: var(--footer-height) ;
    left: 0;
    content: "";
    position: fixed;
    width: 100vw;
    height: 1px;
    background-color:black;
}

header {
    display: flex;
    height: var(--header-height);
    align-items: center;
    position: fixed;  
    top: 0;        
    width: 100%;    
    z-index: 2;  
    /* border-bottom: 1px solid black; */
    background-color: white;
}  
header .horizontalLine{
    position: relative;
} 
header .horizontalLine::after{
    top:var(--header-height);;
    left: 0;
    content: "";
    position: fixed;
    width: 100vw;
    height: 5px;
    background-color: black;
}


h1 {
    color: black;
}

body {
    font-family: techFont;
    background-color: white;
}

li {
    font-family: techFont;
    display: flex;
    align-items: center;
    justify-content: center;
} 

ul {
    padding: 0;
    list-style-type: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}
